.profile__subtaitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    max-width: 336px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen  and (max-width: 645px) {
    .profile__subtaitle {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 7px;
        }
    }